In [1]:
import sqlite3
import pandas as pd
## creating a connection
database = 'chinook.db'


conn = sqlite3.connect(database)

## importing tables 
tables = pd.read_sql("""SELECT name, type
                        FROM sqlite_master
                        WHERE type IN ("table", "view");""", conn)

tables

Empty DataFrame
Columns: [name, type]
Index: []